:root {
    --colNum: 2;
    --mainColor: lightgrey;
}

body {
    width: 100vw;
    height: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

header {
    background-color: var(--mainColor);
    width: 100%;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: steelblue;
    outline: none;
    transition: all 0.2s
}

.square {
    background: purple;
    height: 100%;
    transition: all 0.2s
}

.selected, button:hover {
    background-color: var(--mainColor);
    color: white;
}

#wrapper {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

#buttons {
    display: inline-grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "a b c";
    height: 100%;
    margin: 0 auto;

}

#r-box, #g-box, #b-box {
    color: white;
}
#r, #g, #b {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    vertical-align: center;
    text-shadow: 2px 2px 2px #000
}

#r {
    color: #E55934;
    background: url("images/redBG.png") no-repeat center;
    background-size: 100%;
}
#g {
    color: #9BC53D;
    background: url("images/greenBG.png") no-repeat center;
    background-size: 100%;
}
#b {
    color: #5BC0EB;
    background: url("images/blueBG.png") no-repeat center;
    background-size: 100%;
}

#reset, #message, #easy-hard {
    align-self: center;
}

#reset {
    grid-area: a;
    justify-self: start;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
    max-width: 100vw;
    width: 600px;
    height: 400px;
    max-height: 66.6vw;
    margin: 0rem auto;
}

#message {
    font-size: 16px;
    grid-area: b;
    justify-self: center;
}

#easy-hard {
    grid-area: c;
    justify-self: end;
    height: 100%;
    margin: 0;
}

#sub-top {
    width: 100%;
    background-color: white;
    height: 2.5rem;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    #wrapper {
        display: grid;
        grid-template-rows: 15% 70% 15%;
        grid-template-areas:
                'a'
                'b'
                'c';
        height: 100vh;
        max-width: 100%;
    }
    header {
        grid-area: a;
        height: 15vh;
        width: 100%;
        grid-gap: 0; 
    }
    h1 {
        font-size: 1rem;
        margin-top: 0.4rem;
    }
    button {
        font-size: 0.5rem;
    }
    #r, #g, #b {
        font-size: 2.5rem;
    }
    #sub-top {
        height: 15vh;
    }
    #reset {
        align-self: center;
        font-size: 0.5rem;
        width: 25vw;
    }
    #easy-hard {
        grid-template-columns: 1fr 1fr;
    }
    #message {
        justify-self: center;
        font-size: 0.6rem;
    }
    #container {
        grid-area: b;
        grid-template-columns: repeat(var(--colNum), 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0 0;
        width: 100%;
        height: 100%;
    }
    .square {
        height: 23.33vh;
    }
}
